/****************/
/*    GENERAL   */
/****************/

body {
    padding:20px;
    padding-top:60px;
    background-color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    text-align:center;

  }
  
  h1 {
    margin-bottom: 60px;
    font-weight: 100;
    color:#1a1a1a
  }

  .container {
    border: 2px solid #1a1a1a;
    border-radius: 20px;
    padding:25px;
    max-width: 55em;
  }
  
  h2 {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    margin-top: 60px;
    color: #1A99AA;
  }
  
  .content {
    text-align: center;
  }
  
  .user-control label {
    margin-right: 20px;
  }
  
  .user-control #attraction-category {
    display: inline-block;
    background: #ffffff;
    max-width: 200px;
    border: 2px solid #1a1a1a;
    outline: none;
    border-radius: 30px;
    text-align: center;
    padding-right: 10px;

  }
  
  .source-desc {
    font-size: 11px;
    color: #ABB0B3;
    margin-top: 20px;
  }
  
  
  /****************/
  /*   BAR-CHART  */
  /****************/
  
  .bar {
    fill: #fa714f;
  }
  
  .bar:hover {
    fill: #2c768d;
  }
  
  .axis {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line,
  .domain {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .x-axis path {
    display: none;
  }
  
  .x-axis text {
    font-weight: bold;
  }
  
  .axis-title {
      fill: rgb(22, 22, 22);
      font-size: 12px;
  }
  
  
  /****************/
  /*   TOOLTIPS   */
  /****************/
  
  #tooltip {
      position: absolute;
      width: 200px;
      height: auto;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
  }
  #tooltip.hidden {
      display: none;
  }
  #tooltip p {
      margin: 0;
      font-family: sans-serif;
      font-size: 16px;
      line-height: 20px;
  }